{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Disawal - Generative AI Engineer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header id="header">
        <div class="container">
            <h1>Rajat Disawal</h1>
            <h2>Generative AI Engineer</h2>
            <nav>
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="projects">
            <div class="container">
                <h2>Projects</h2>
                <div class="slider">
                    {% for project in projects %}
                    <div class="slide">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description|linebreaks }}</p>
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                    </div>
                    {% endfor %}
                </div>
                <!-- Slide buttons -->
                <div class="slide-buttons">
                    <button class="prev-slide">&lt;</button>
                    <button class="next-slide">&gt;</button>
                </div>
            </div>
        </section>
        
        <section id="experience">
            <div class="container">
                <h2>Experience</h2>
                {% for experience in experiences %}
                <div class="experience">
                    <h3>{{ experience.title }}</h3>
                    <h4>{{ experience.company }}</h4>
                    <ul class="description">
                        {% for bullet in experience.description.splitlines %}
                        <li>{{ bullet }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="certifications">
            <div class="container">
                <h2>Certifications</h2>
                <div class="slider">
                    {% for certification in certifications %}
                    <div class="slide">
                        <h3>{{ certification.title }}</h3>
                        <ul class="description">
                            {% for bullet in certification.description.splitlines %}
                            <li>{{ bullet }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                <div class="slide-buttons">
                    <button class="prev-slide">&lt;</button>
                    <button class="next-slide">&gt;</button>
                </div>
            </div>
        </section>

        <section id="skills">
            <div class="container">
                <h2>Skills</h2>
                <div class="slider">
                    {% for skill in skills %}
                    <div class="slide">
                        <h3>{{ skill.title }}</h3>
                        <p>{{ skill.description|linebreaks }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="slide-buttons">
                    <button class="prev-slide">&lt;</button>
                    <button class="next-slide">&gt;</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>Contact me: kashewknutt@gmail.com</p>
            <p>Connect with me: <a href="https://www.linkedin.com/in/rajat-disawal-b1a805215/">LinkedIn</a></p>
        </div>
    </footer>

    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>
